@import '~compass-mixins/lib/compass/css3';
$rainbow_segments: 20;

.card {
    position: absolute;
    &.disable {
        pointer-events: none;
    }
    &.default {
        cursor: pointer;
        transform-origin: 50% 160%;
        height: 20%;
        width: 65%/ $rainbow_segments;
        background-color: transparent;
        transition: background-color 0.15s ease-in-out, top 0.15s ease-in-out;
        top: 15%;
        left: 50%;
        @for $i from 1 through $rainbow_segments {
            &:nth-of-type(#{$i}) {
              border: adjust-hue(red, ($i/$rainbow_segments)*360) 1px solid; 
            }
        }
        iframe {
            display: none;
        }
        .text {
            z-index: 2;
            background-color: black;
            opacity: 0;
            transition: opacity 0.25s ease-in-out;
            span {
                transform: scale(1);
                transition: transform 0.25s ease-in-out;
            }
        }
        .video-container {
            height: 100%;
            width: 100%;
            overflow: hidden;
            opacity: 0;
            transition: opacity 0.25s ease-in-out;
            display: flex;
            justify-content: center;
            video {
                width: auto;
                height: 100%;
            }
        }
        &:hover {
            background-color: grey;
            z-index: 1;
            .text {
                span {
                    transform: scale(2);
                }
            }
            .video-container {
                opacity: 1;
            }
        }
        &.scaleUp {
            transition: all 0.5s ease-in-out 0.05s;
            transform: translate(-50%, -50%) scale(2)!important;
            transform-origin: 0 100%;
            width: 50%;
            height: 50%;
            z-index: 1;
            top: 65%;
            left: 25%;
            background-color: black;
            border: none;
            .text {
                opacity: 1;
                transform: scale(1) !important;
                span {
                    color: white;
                    transform: scale(1);
                    text-align: center;
                }
            }
            iframe {
                display: unset;
            }
            .video-container {
                opacity: 1;
                overflow: unset;
                video {
                    padding-top: 5%;
                    height: 110%;
                    width: 100%;
                }
            }
        }
    }
    &.stick {
        height: 20%;
        width: 20%;
        background-color: green;
    }
    &.fan {
        height: 40%;
        width: 20%;
        background-color: blue;
    }
    .text {
        span {
            position: absolute;
            font-size: 100%;
            width: 100%;
            color: white;
        }
    }
}
.exit-card {
    height: 3vw;
    width: 3vw;
    top: 4rem;
    right: 3rem;
    border-radius: 100%;
    background-color: transparent;
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: fixed;
    z-index: -1;
    opacity: 0;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    color: red;
    font-size: 4rem;
    transform: scale(1) rotate(45deg);
    &:hover {
        transform: scale(1.15) rotate(45deg);
    }
    &.show {
        transition-delay: 0;
        opacity: 1;
        z-index: 1;
    }
}
.center-text, .center-video {
    position: absolute;
    left: 39%;
    top: 27%;
    border-radius: 100%;
    overflow: hidden;
    height: 42%;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    
    color: white;
    text-align: center;
    font-size: 150%;
    &.show {
        opacity: 1;
    }
}
.center-video {
    opacity: 1;
}