<div>
    <h1>
        <br>
        Software Development Lead && Senior Software Engineer
        <br>
        <br>
    </h1>
    <div class="row">
        <div class="column">
            <span>FRONTEND</span>     
            <ul>
                <li>Typescript | Javascript | ECMAScript</li>
                <li>Angular | VueJS | Handlebars | Pug | EJS | Twig | Mustache | Meteor | KeystoneJS | Sculpin</li>
                <li>SCSS | SASS | LESS | Bootstrap | Foundation | Semantic UI</li>
                <li>Mobile-first Responsive Development</li>
                <li>Ionic</li>
                <li>D3</li>
            </ul>
        </div>
        <div class="column">
            <span>BACKEND</span>     
            <ul>
                <li>AWS | Kubernetes | Helm | Docker
                    | Django | NodeJS 
                    </li>
                <li>Laravel |NPM | Symphony | Homebrew | Bower</li>
                <li>Express | Nginx</li>
                <li>ElectronJS | Cordova</li>
                <li>MongoDB | Directus | MySQL | PostgresQL</li>
                <li>Drupal</li>
            </ul>
        </div>
        <div class="column">
            <span>Additional Skills</span>
            <ul>
                <li>AWS | Kubernetes | Helm | Docker
                    | Django | NodeJS 
                    </li>
                <li>Laravel |NPM | Symphony | Homebrew | Bower</li>
                <li>Express | Nginx</li>
                <li>ElectronJS | Cordova</li>
                <li>MongoDB | Directus | MySQL | PostgresQL</li>
                <li>Drupal</li>
            </ul>
        </div>
    </div>
        <h1>

        </h1>
</div>