section:nth-child(1) {
	background-color: red;
}
section:nth-child(2) {
	background-color: orange;
}
section:nth-child(3) {
	background-color: yellow;
}
section:nth-child(4) {
	background-color: green;
}

.swiper-slide {
	display: flex;
	flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
	h1, p{
		color: white;
	}
	a {
		text-decoration: none;
		color: rgb(160, 240, 173);
		font-size: 1rem;
	}
	.video-container {
		height: 60%;
		width: 80%;
		iframe {
			width: 100%;
			height: 100%;
		}
	}
	p {
		font-size: 1rem;
	}
}
.swiper-button-prev {
	left: 0;
}
.swiper-button-next {
	right: 0;
}

@media (orientation: portrait) {
	.swiper-slide {
		// height: 60vh !important;
		// padding: 6rem 0; 
		.video-container {
			// padding: 4rem;
			padding: 1.5rem 0;
			height: auto;
			width: 95% !important;
		}
	}
	.swiper-button-prev, .swiper-button-next {
		position: fixed;
		left: 47.5%;
		transform: rotate(90deg);
	}
	.prev-next-buttons {
		display: none;
	}
	.swiper-button-prev {
		top: 6rem;
	}
	.swiper-button-next {
		top: unset;
		bottom: 6rem;
	}
}